.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Mono", monospace;
  font-size: 2.1rem;
  padding: 1rem 4rem;
  background-color: #002366;
  color: white;
}

.nav > * > li {
  display: inline;
  font-size: 1.25rem;
  vertical-align: middle;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right > a {
  color: red;
  font-size: 1.1rem;
  margin-right: 15px;
  letter-spacing: 0.2px;
}
